body{
   background-color: #344a72; 
   font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login-box{
    width: 360px;
    height: 270px;
    margin: auto;
    border-radius: 3px;
    background: white;
}

.doit{
    color: red;
    font-size: 40px;
}
div{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    /* width: 60%; */
    /* display: inline-block; */
    text-align: left;
    list-style: none;
}

h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;

}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

form{
width: 300px;
/* margin-left: 20px; */
display: inline-block;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
} 
 input[type="submit"] {
    width: 320px;
    height: 35px;   
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px ;
    
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}
.par-two{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.par-two a{
    color: #49c1a2;
}

#date{
    color:blue;
    /* text-align: right; */
}

a{
    display: float;
}